# M9N0 on CP210x adapter
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="10c4", ENV{ID_MODEL_ID}=="ea60", SYMLINK+="ttyM9N1", MODE:="0666"

# M9N1 on CH340 adapter
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6015", SYMLINK+="ttyF9P", MODE:="0666"

# F9P on FTDI adapter
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6001", SYMLINK+="ttyM9N0", MODE:="0666"

